In [ ]:
df = df.rename(columns={'Unnamed: 0':'Isla'})

In [1]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'tipo_alojamiento'})

In [ ]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'tipo_alojamiento'},inplace=True)
    df.insert(1, "año", "")

In [ ]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'tipo_alojamiento'},inplace=True)
    df.insert(1, "Mes/año", "")
    df.insert(2, "Isla", "")

In [ ]:
def espacios (df):
    df.Isla.str.strip()

In [ ]:
def eliminar_columna(df, columna):
    df.drop(['columna'], axis=1, inplace=True)

In [ ]:
def inicio(df):    
    df.Isla.str.strip()
    df.insert(1, "Mes/año", "")

In [ ]:
def columna_nueva(df):
    df.insert(1, "Mes/año", "")

In [ ]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["Isla"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['Isla'] in lista_general:
            df.drop(i, inplace=True)

In [ ]:
def lugar(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["procedencia"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Isla"] = lista_general   

    for i, row in df.iterrows():
        if row['procedencia'] in lista_general:
            df.drop(i, inplace=True)
        if row['procedencia'] == 'TOTAL':
            df.drop(i, inplace=True)

In [ ]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [ ]:
def total(df):
    for i, row in df.iterrows():
        if row['origen_turista'] == 'TOTAL':
            df.drop(i, inplace=True)

In [ ]:
num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "")

In [ ]:
def indice(df):
    df.reset_index(inplace=True)
    df.drop(columns = 'index', inplace = True)

In [ ]:
# Pasar valores 'object' a float (cuando son miles, no funciona)
def replacee(s):
    i=str(s).find(',')
    if(i>0):
        return s[:i] + '.' + s[i+1:]
    else :
        return s
    
df['columna']=df['columna'].apply(replacee)
df['columna'] = pd.to_numeric(df['columna'],errors = 'coerce')

In [ ]:
def sustituir(x):
    if x == 'Eivissa-Formentera': 
        return 'Ibiza_Formentera'
    else:
        return x
df.columna=df.columna.apply(sustituir_2)

In [ ]:
#df['columna']= df['columna'].replace(['...'],[np.nan])

In [ ]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")