In [1]:
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
mallorca = pd.read_csv('../Limpieza_Datasets/data/Establecimientos_plazas_Mallorca.csv', sep =';')
menorca = pd.read_csv('../Limpieza_Datasets/data/Establecimientos_plazas_Menorca.csv', sep =';')
ibiza = pd.read_csv('../Limpieza_Datasets/data/Establecimientos_plazas_Ibiza.csv', sep =';')
formentera = pd.read_csv('../Limpieza_Datasets/data/Establecimientos_plazas_Formentera.csv', sep =';')

In [3]:
mallorca.head(5)

                        Unnamed: 0 Número de establecimientos Número de plazas
0                             2020                        NaN              NaN
1                 (AG) AGROTURISMO                        286            5.590
2     (AP) APARTAMENTOS TURÍSTICOS                        295           33.039
3           (CH) CASA DE HUÉSPEDES                         15              479
4           (CT) CAMPING TURÍSTICO                          1              500

Renombrar columnas y crear nueva columna 'year'

In [4]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'tipo_alojamiento',
                      'Número de establecimientos': 'num_establecim',
                      'Número de plazas':'num_plazas'},inplace=True)
    df.insert(1, "year", "")

In [5]:
renomcolumna(mallorca)
renomcolumna(menorca)
renomcolumna(ibiza)
renomcolumna(formentera)

In [6]:
mallorca.head(5)

                  tipo_alojamiento year num_establecim num_plazas
0                             2020                 NaN        NaN
1                 (AG) AGROTURISMO                 286      5.590
2     (AP) APARTAMENTOS TURÍSTICOS                 295     33.039
3           (CH) CASA DE HUÉSPEDES                  15        479
4           (CT) CAMPING TURÍSTICO                   1        500

In [7]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["tipo_alojamiento"])
        count += 1    
        if count == 17:
            cambioiloc = (i+1)
            count=0
    df["year"] = lista_general   

    for i, row in df.iterrows():
        if row['tipo_alojamiento'] in lista_general:
            df.drop(i, inplace=True)

In [8]:
fecha(mallorca)
fecha(menorca)
fecha(ibiza)
fecha(formentera)

In [9]:
mallorca

                    tipo_alojamiento  year num_establecim num_plazas
1                   (AG) AGROTURISMO  2020            286      5.590
2       (AP) APARTAMENTOS TURÍSTICOS  2020            295     33.039
3             (CH) CASA DE HUÉSPEDES  2020             15        479
4             (CT) CAMPING TURÍSTICO  2020              1        500
5          (CV) CIUDAD DE VACACIONES  2020              0          0
..                               ...   ...            ...        ...
216                      (HS) HOSTAL  2008             94      5.417
217          (HSR) HOSTAL RESIDENCIA  2008            105      4.256
218                     (PE) PENSIÓN  2008              1         23
219      (RA) RESIDENCIA APARTAMENTO  2008              0          0
220         (TI) TURISMO DE INTERIOR  2008             48        607

[208 rows x 4 columns]

In [10]:
mallorca=mallorca.assign(Isla='Mallorca')
menorca=menorca.assign(Isla='Menorca')
ibiza=ibiza.assign(Isla='Ibiza')
formentera=formentera.assign(Isla='Formentera')

In [11]:
total_establecim_plazas = pd.concat([mallorca, menorca, ibiza, formentera])

In [14]:
total_establecim_plazas

            tipo_alojamiento  year num_establecim num_plazas        Isla
1                AGROTURISMO  2020            286      5.590    Mallorca
2    APARTAMENTOS TURÍSTICOS  2020            295     33.039    Mallorca
3          CASA DE HUÉSPEDES  2020             15        479    Mallorca
4          CAMPING TURÍSTICO  2020              1        500    Mallorca
5       CIUDAD DE VACACIONES  2020              0          0    Mallorca
..                       ...   ...            ...        ...         ...
216                   HOSTAL  2008             18      1.195  Formentera
217        HOSTAL RESIDENCIA  2008              9        385  Formentera
218                  PENSIÓN  2008              0          0  Formentera
219   RESIDENCIA APARTAMENTO  2008              0          0  Formentera
220      TURISMO DE INTERIOR  2008              0          0  Formentera

[832 rows x 5 columns]

In [13]:
total_establecim_plazas['tipo_alojamiento'] = total_establecim_plazas['tipo_alojamiento'].str.replace(r"\(.*\)","").str.lstrip()

Tipo de número. Todos son object - hay que pasarlos a numéricos

In [ ]:
total_establecim_plazas.dtypes

In [ ]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [ ]:
total_establecim_plazas['num_establecim'] = total_establecim_plazas['num_establecim'].apply(cambiar)
total_establecim_plazas['num_establecim'] = pd.to_numeric(total_establecim_plazas['num_establecim'], errors = 'coerce')

In [ ]:
total_establecim_plazas['num_plazas'] = total_establecim_plazas['num_plazas'].apply(cambiar)
total_establecim_plazas['num_plazas'] = pd.to_numeric(total_establecim_plazas['num_plazas'], errors = 'coerce')

In [ ]:
total_establecim_plazas['year'] = total_establecim_plazas['year'].astype(str).astype(int)

In [ ]:
total_establecim_plazas.dtypes

In [ ]:
#total_establecim_plazas.to_csv(r'total_establecimientos.csv', index = False, header=True)