In [1]:
import pandas as pd

In [2]:
gasto_origen_turista_2015 = pd.read_csv('../Final_Project/data/Gasto_pais_residencia_2015_new.csv', sep = ';')

In [3]:
gasto_origen_turista_2015.head()

         Unnamed: 0 Gasto total Gasto medio diario Gasto medio por persona
0           2015M09         NaN                NaN                     NaN
1         1. ESPAÑA     191.802              91,25                  751,01
2     2. EXTRANJERO   1.611.520             116,56                  952,54
3     (110) Francia      50.522              90,01                  825,99
4      (115) Italia      93.182             135,44                1.084,72

In [4]:
gasto_origen_turista_2015 = gasto_origen_turista_2015.rename(columns={'Unnamed: 0':'origen_turista'})

In [5]:
gasto_origen_turista_2015.origen_turista = gasto_origen_turista_2015.origen_turista.str.strip()

In [6]:
def inicio(df):
    df.insert(1, "Mes/año", "")

In [7]:
inicio(gasto_origen_turista_2015)

In [8]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["origen_turista"])
        count += 1    
        if count == 12:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['origen_turista'] in lista_general:
            df.drop(i, inplace=True)

In [9]:
fecha(gasto_origen_turista_2015)

In [10]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [11]:
month_year(gasto_origen_turista_2015)

<ipython-input-10-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [12]:
gasto_origen_turista_2015['origen_turista'] = gasto_origen_turista_2015['origen_turista'].str.replace("\(\d+\)", "").str.replace("\d+", "")

<ipython-input-12-2126a5e294d4>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  gasto_origen_turista_2015['origen_turista'] = gasto_origen_turista_2015['origen_turista'].str.replace("\(\d+\)", "").str.replace("\d+", "")

In [14]:
gasto_origen_turista_2015.origen_turista.unique().tolist()

['. ESPAÑA',
 '. EXTRANJERO',
 ' Francia',
 ' Italia',
 ' Reino Unido',
 ' Alemania',
 ' Suiza',
 'Bélgica, Luxemburgo y Países Bajos',
 'Países nórdicos',
 'Resto de Europa',
 'Resto del mundo']