In [1]:
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
gasto_origen_turista = pd.read_csv('../Limpieza_Datasets/data/Gasto_pais_residencia.csv', sep=';')
gasto_origen_turista_2015 = pd.read_csv('../Limpieza_Datasets/data/Gasto_pais_residencia_2015_new.csv', sep = ';')

In [3]:
gasto_origen_turista

,Unnamed: 0,Gasto total (millones de euros),Gasto por persona (euros),Gasto por persona y día (euros)
0,2021M12,NaN,NaN,NaN
1,TOTAL,"162,66","854,13","107,97"
2,ESPAÑA (Otras CCAA),"35,28","465,42","81,44"
3,EXTRANJERO,"127,38","1.111,16","118,67"
4,(110) Francia,"3,84","482,04","106,16"
...,...,...,...,...
895,(126) Alemania,"411,69","959,55","111,98"
896,(132) Suiza,"46,09","915,29","110,2"
897,"Bélgica, Luxemburgo y Países Bajos","51,62","1.028,02","127,55"
898,Países nórdicos,"53,84","998,79","120,6"
899,Resto del mundo,"54,48","1.505,94","176,64"

In [4]:
gasto_origen_turista = gasto_origen_turista.rename(columns={'Unnamed: 0':'origen_turista',
                                                  'Gasto total (millones de euros)':'Gasto_total',
                                                  'Gasto por persona (euros)':'Gasto_persona',
                                                  'Gasto por persona y día (euros)':'Gasto_persona_día'})
gasto_origen_turista_2015 = gasto_origen_turista_2015.rename(columns={'Unnamed: 0':'origen_turista',
                                                  'Gasto total':'Gasto_total',
                                                  'Gasto medio por persona':'Gasto_persona',
                                                  'Gasto medio diario':'Gasto_persona_día'})

In [5]:
gasto_origen_turista.origen_turista = gasto_origen_turista.origen_turista.str.strip()
gasto_origen_turista_2015.origen_turista = gasto_origen_turista_2015.origen_turista.str.strip()

In [6]:
gasto_origen_turista

,origen_turista,Gasto_total,Gasto_persona,Gasto_persona_día
0,2021M12,NaN,NaN,NaN
1,TOTAL,"162,66","854,13","107,97"
2,ESPAÑA (Otras CCAA),"35,28","465,42","81,44"
3,EXTRANJERO,"127,38","1.111,16","118,67"
4,(110) Francia,"3,84","482,04","106,16"
...,...,...,...,...
895,(126) Alemania,"411,69","959,55","111,98"
896,(132) Suiza,"46,09","915,29","110,2"
897,"Bélgica, Luxemburgo y Países Bajos","51,62","1.028,02","127,55"
898,Países nórdicos,"53,84","998,79","120,6"
899,Resto del mundo,"54,48","1.505,94","176,64"

In [7]:
def inicio(df):
    df.insert(1, "Mes/año", "")

In [8]:
inicio(gasto_origen_turista)
inicio(gasto_origen_turista_2015)

In [9]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["origen_turista"])
        count += 1    
        if count == 12:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['origen_turista'] in lista_general:
            df.drop(i, inplace=True)

In [10]:
fecha(gasto_origen_turista)
fecha(gasto_origen_turista_2015)

In [11]:
gasto_origen_turista

,origen_turista,Mes/año,Gasto_total,Gasto_persona,Gasto_persona_día
1,TOTAL,2021M12,"162,66","854,13","107,97"
2,ESPAÑA (Otras CCAA),2021M12,"35,28","465,42","81,44"
3,EXTRANJERO,2021M12,"127,38","1.111,16","118,67"
4,(110) Francia,2021M12,"3,84","482,04","106,16"
5,(115) Italia,2021M12,...,...,...
...,...,...,...,...,...
895,(126) Alemania,2015M10,"411,69","959,55","111,98"
896,(132) Suiza,2015M10,"46,09","915,29","110,2"
897,"Bélgica, Luxemburgo y Países Bajos",2015M10,"51,62","1.028,02","127,55"
898,Países nórdicos,2015M10,"53,84","998,79","120,6"
899,Resto del mundo,2015M10,"54,48","1.505,94","176,64"

In [12]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [13]:
month_year(gasto_origen_turista)
month_year(gasto_origen_turista_2015)

In [14]:
gasto_origen_turista_2015.head(6)

      origen_turista Gasto_total Gasto_persona_día Gasto_persona  year month
1          1. ESPAÑA     191.802             91,25        751,01  2015    09
2      2. EXTRANJERO   1.611.520            116,56        952,54  2015    09
3      (110) Francia      50.522             90,01        825,99  2015    09
4       (115) Italia      93.182            135,44      1.084,72  2015    09
5  (125) Reino Unido     490.607            111,02        886,25  2015    09
6     (126) Alemania     531.910            109,63        884,37  2015    09

In [15]:
gasto_origen_turista['origen_turista'] = gasto_origen_turista['origen_turista'].str.replace("\(\d+\)", "").str.replace("\d+", "")
gasto_origen_turista_2015['origen_turista'] = gasto_origen_turista_2015['origen_turista'].str.replace("\(\d+\)", "").str.replace("\d+", "")

In [16]:
gasto_origen_turista['origen_turista'] = gasto_origen_turista['origen_turista'].str.replace(r"\(.*\)","").str.rstrip()
gasto_origen_turista['origen_turista'] = gasto_origen_turista['origen_turista'].str.replace(r"\(.*\)","").str.rstrip()

In [17]:
gasto_origen_turista_2015.head(6)

  origen_turista Gasto_total Gasto_persona_día Gasto_persona  year month
1       . ESPAÑA     191.802             91,25        751,01  2015    09
2   . EXTRANJERO   1.611.520            116,56        952,54  2015    09
3        Francia      50.522             90,01        825,99  2015    09
4         Italia      93.182            135,44      1.084,72  2015    09
5    Reino Unido     490.607            111,02        886,25  2015    09
6       Alemania     531.910            109,63        884,37  2015    09

In [ ]:
gasto_origen_turista.reset_index(inplace=True)
gasto_origen_turista.drop(columns = 'index', inplace = True)

In [ ]:
gasto_origen_turista_2015.reset_index(inplace=True)
gasto_origen_turista_2015.drop(columns = 'index', inplace = True)

In [ ]:
gasto_origen_turista.head(6)

In [ ]:
def eliminar_columna(df):
    df.drop(['Gasto_total'], axis=1, inplace=True)

In [ ]:
eliminar_columna(gasto_origen_turista)
eliminar_columna(gasto_origen_turista_2015)

In [ ]:
gasto_origen_turista_2015.origen_turista = gasto_origen_turista_2015['origen_turista'].str.replace(".", "").str.strip()

In [ ]:
gasto_origen_turista['origen_turista'] = gasto_origen_turista['origen_turista'].str.replace("\(C+\)", "")

In [ ]:
gasto_origen_turista.head(6)

In [ ]:
gasto_origen_turista.reset_index(inplace=True)
gasto_origen_turista.drop(columns = 'index', inplace = True)

In [ ]:
gasto_origen_turista.origen_turista = gasto_origen_turista['origen_turista'].str.strip()

In [ ]:
gasto_origen_turista_2015.origen_turista = gasto_origen_turista_2015['origen_turista'].str.strip()

In [ ]:
#Unifocando orígenes de turistas. Datos previos a 2015 tienen unos países y datos posteriores a 2015 tienen otro tipo de agrupación. Se unifican

In [ ]:
#asto_origen_turista_2015.origen_turista.unique()

In [ ]:
for i, row in gasto_origen_turista.iterrows():
    if row['origen_turista'] == 'TOTAL':
        gasto_origen_turista.drop(i, inplace=True)
    if row['origen_turista'] == 'EXTRANJERO':
        gasto_origen_turista.drop(i, inplace=True)
    if row['origen_turista'] == 'Resto del mundo':
        gasto_origen_turista.drop(i, inplace=True)
    if row['origen_turista'] == 'Suiza':
        gasto_origen_turista.drop(i, inplace=True)
    if row['origen_turista'] == 'Resto de Europa':
        gasto_origen_turista.drop(i, inplace=True)

In [ ]:
for i, row in gasto_origen_turista_2015.iterrows():
    if row['origen_turista'] == 'TOTAL':
        gasto_origen_turista_2015.drop(i, inplace=True)
    if row['origen_turista'] == 'EXTRANJERO':
        gasto_origen_turista_2015.drop(i, inplace=True)
    if row['origen_turista'] == 'Resto del mundo':
        gasto_origen_turista_2015.drop(i, inplace=True)
    if row['origen_turista'] == 'Suiza':
        gasto_origen_turista_2015.drop(i, inplace=True)
    if row['origen_turista'] == 'Resto de Europa':
        gasto_origen_turista_2015.drop(i, inplace=True)

In [ ]:
gasto_origen_turista.origen_turista.unique()

In [ ]:
gasto_origen_turista_2015.origen_turista.unique()

In [ ]:
gasto_origen_turista_2015 = gasto_origen_turista_2015[['origen_turista','Gasto_persona','Gasto_persona_día','year','month']]

In [ ]:
gasto_origen_turista_OK = pd.concat([gasto_origen_turista, gasto_origen_turista_2015])

In [ ]:
gasto_origen_turista_OK

In [ ]:
gasto_origen_turista_OK.origen_turista.unique()

In [ ]:
gasto_origen_turista_OK.origen_turista = gasto_origen_turista_OK['origen_turista'].str.strip()

In [ ]:
gasto_origen_turista_OK.origen_turista.unique()

In [ ]:
gasto_origen_turista_OK.dtypes

In [ ]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [ ]:
gasto_origen_turista_OK['Gasto_persona'] = gasto_origen_turista_OK['Gasto_persona'].apply(cambiar)
gasto_origen_turista_OK['Gasto_persona'] = pd.to_numeric(gasto_origen_turista_OK['Gasto_persona'], errors = 'coerce')

In [ ]:
gasto_origen_turista_OK['Gasto_persona_día'] = gasto_origen_turista_OK['Gasto_persona_día'].apply(cambiar)
gasto_origen_turista_OK['Gasto_persona_día'] = pd.to_numeric(gasto_origen_turista_OK['Gasto_persona_día'], errors = 'coerce')

In [ ]:
gasto_origen_turista_OK

In [ ]:
gasto_origen_turista_OK['year'] = gasto_origen_turista_OK['year'].astype(str).astype(int)

In [ ]:
gasto_origen_turista_OK['month'] = gasto_origen_turista_OK['month'].astype(str).astype(int)

In [ ]:
gasto_origen_turista_OK.dtypes

In [ ]:
gasto_origen_turista_OK.isna().sum()

In [ ]:
#gasto_origen_turista_OK.to_csv(r'gasto_por_origen_turista.csv', index = False, header=True)