In [1]:
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [51]:
num_turistas = pd.read_csv('../Limpieza_Datasets/data/Número_turistas_y_origen.csv', sep = ';')
num_turistas_2015 = pd.read_csv('../Limpieza_Datasets/data/Número_turistas_y_origen_2015.csv', sep = ';')

In [52]:
num_turistas.drop(['ILLES BALEARS'], axis=1, inplace=True)

In [53]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'origen_turistas',
                      'Eivissa-Formentera':'Ibiza_Formentera'}, inplace=True)

In [54]:
renomcolumna(num_turistas)
renomcolumna(num_turistas_2015)

In [55]:
def columna_nueva(df):
    df.insert(1, "Mes/año", "")

In [56]:
columna_nueva(num_turistas)

In [57]:
columna_nueva(num_turistas_2015)

In [58]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["origen_turistas"])
        count += 1    
        if count == 11:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['origen_turistas'] in lista_general:
            df.drop(i, inplace=True)

In [59]:
fecha(num_turistas)

In [60]:
def fecha_2015(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["origen_turistas"])
        count += 1    
        if count == 14:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['origen_turistas'] in lista_general:
            df.drop(i, inplace=True)

In [61]:
fecha_2015(num_turistas_2015)

In [62]:
num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()
num_turistas_2015['origen_turistas'] = num_turistas_2015['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()

<ipython-input-62-1c738b20f044>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()
<ipython-input-62-1c738b20f044>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()
<ipython-input-62-1c738b20f044>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  num_turistas_2015['origen_turistas'] = num_turistas_2015['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()
<ipython-input-62-1c738b20f044>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  num_turistas_2015['origen_turistas'] = num_turistas_2015['origen_turistas'].str.replace("\(\d+\)", "").str.replace("\d+", "").str.replace(".", "").str.strip()

In [63]:
num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace(r"\(.*\)","").str.rstrip()
num_turistas_2015['origen_turistas'] = num_turistas_2015['origen_turistas'].str.replace(r"\(.*\)","").str.rstrip()

<ipython-input-63-d8c9ad560d8d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  num_turistas['origen_turistas'] = num_turistas['origen_turistas'].str.replace(r"\(.*\)","").str.rstrip()
<ipython-input-63-d8c9ad560d8d>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  num_turistas_2015['origen_turistas'] = num_turistas_2015['origen_turistas'].str.replace(r"\(.*\)","").str.rstrip()

In [64]:
num_turistas.head(15)

,origen_turistas,Mes/año,Mallorca,Menorca,Ibiza_Formentera
1,TOTAL,2021M12,156.919,8.116,25.409
2,ESPAÑA,2021M12,53.234,6.350,16.220
3,EXTRANJERO,2021M12,103.686,1.766,9.189
4,Francia,2021M12,6.904,786,278
5,Italia,2021M12,2.732,...,...
6,Reino Unido,2021M12,8.899,477,1.184
7,Alemania,2021M12,55.336,...,2.225
8,"Bélgica, Luxemburgo y Países Bajos",2021M12,5.176,...,3.914
9,Países nórdicos,2021M12,4.660,...,...
10,Resto del mundo,2021M12,19.979,...,1.179
12,TOTAL,2021M11,195.543,9.874,27.174
13,ESPAÑA,2021M11,63.881,6.692,13.896
14,EXTRANJERO,2021M11,131.662,3.182,13.279
15,Francia,2021M11,7.205,1.270,3.479
16,Italia,2021M11,2.256,...,481

In [65]:
def eliminar_cosas(x):
    for i, row in x.iterrows():
        if row['origen_turistas'] == 'TOTAL':
            x.drop(i, inplace=True)
        if row['origen_turistas'] == 'EXTRANJERO':
            x.drop(i, inplace=True)
        if row['origen_turistas'] == 'Resto del mundo':
            x.drop(i, inplace=True)

In [66]:
eliminar_cosas(num_turistas)
eliminar_cosas(num_turistas_2015)

In [67]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [68]:
month_year(num_turistas)

<ipython-input-67-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [69]:
month_year(num_turistas_2015)

<ipython-input-67-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [70]:
def indice(df):
    df.reset_index(inplace=True)
    df.drop(columns = 'index', inplace = True)

In [71]:
indice(num_turistas)

In [72]:
indice(num_turistas_2015)

In [74]:
def eliminar_cosas(x):
    for i, row in x.iterrows():
        if row['origen_turistas'] == 'Irlanda':
            x.drop(i, inplace=True)
        if row['origen_turistas'] == 'Austria':
            x.drop(i, inplace=True)
        if row['origen_turistas'] == 'Suiza':
            x.drop(i, inplace=True)

In [75]:
eliminar_cosas(num_turistas_2015)

In [76]:
num_turistas_2015.origen_turistas.unique()

array(['ESPAÑA', 'Francia', 'Italia', 'Reino Unido', 'Alemania',
       'Bélgica, Luxemburgo y Países Bajos', 'Países nórdicos'],
      dtype=object)

In [30]:
# Los datos previos a 2015 de Austria e Irlanda se van a eliminar ya que en el análisis exploratorio 
# se ha visto que el número de turistas es mucho menor debido a que de 2015 en adelante no hay datos al respecto

In [78]:
num_turistas.origen_turistas.unique()

array(['ESPAÑA', 'Francia', 'Italia', 'Reino Unido', 'Alemania',
       'Bélgica, Luxemburgo y Países Bajos', 'Países nórdicos'],
      dtype=object)

In [79]:
num_turistas_ok = pd.concat([num_turistas, num_turistas_2015])

In [80]:
num_turistas_ok.head()

  origen_turistas Mallorca Menorca Ibiza_Formentera  year month
0          ESPAÑA   53.234   6.350           16.220  2021    12
1         Francia    6.904     786              278  2021    12
2          Italia    2.732     ...              ...  2021    12
3     Reino Unido    8.899     477            1.184  2021    12
4        Alemania   55.336     ...            2.225  2021    12

In [81]:
turistas_pmi = num_turistas_ok[['origen_turistas','year', 'month', 'Mallorca']]
turistas_pmi.insert(1, "Isla", "Mallorca")
turistas_pmi = turistas_pmi.rename(columns={'Mallorca':'Num_turistas'})

In [82]:
turistas_mah = num_turistas_ok[['origen_turistas','year', 'month', 'Menorca']]
turistas_mah.insert(1, "Isla", "Menorca")
turistas_mah = turistas_mah.rename(columns={'Menorca':'Num_turistas'})

In [83]:
turistas_ibz = num_turistas_ok[['origen_turistas','year', 'month', 'Ibiza_Formentera']]
turistas_ibz.insert(1, "Isla", "Ibiza_Formentera")
turistas_ibz = turistas_ibz.rename(columns={'Ibiza_Formentera':'Num_turistas'})

In [84]:
num_turistas_final = pd.concat([turistas_pmi, turistas_mah, turistas_ibz])

In [85]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [86]:
num_turistas_final['Num_turistas'] = num_turistas_final['Num_turistas'].apply(cambiar)
num_turistas_final['Num_turistas'] = pd.to_numeric(num_turistas_final['Num_turistas'], errors = 'coerce')

In [87]:
num_turistas_final['year'] = num_turistas_final['year'].astype(str).astype(int)
num_turistas_final['month'] = num_turistas_final['month'].astype(str).astype(int)

In [88]:
num_turistas_final.dtypes

origen_turistas     object
Isla                object
year                 int64
month                int64
Num_turistas       float64
dtype: object

In [89]:
# Se eliminan los datos referentes a 'Resto del mundo' ya que no son objeto de estudio y además 
# solo se encuentras en los datos previos a 2015,de ahí en adelante no están

In [91]:
#num_turistas_final.to_csv(r'num_turistas_origen.csv', index = False, header=True)