In [1]:
import pandas as pd

In [2]:
tarifa_media = pd.read_csv('../Limpieza_Datasets/data/Tarifa_media_diaria_periodo,_isla_2008_2021.csv', sep = ';')

In [3]:
tarifa_media = tarifa_media.rename(columns={'Unnamed: 0':'periodo',
                                           'Eivissa-Formentera':'Ibiza_Formentera'})

In [4]:
tarifa_media['periodo'] = tarifa_media.periodo.shift(1)

In [5]:
#tarifa_media = tarifa_media[~tarifa_media.periodo.str.contains('TOTAL')]

In [6]:
tarifa_media = tarifa_media.dropna()

In [7]:
tarifa_media['year'], tarifa_media['month'] = tarifa_media["periodo"].str.split('M', 1).str
tarifa_media = tarifa_media.drop(['periodo'], axis = 1)
tarifa_media.head()

<ipython-input-7-34ed32996849>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  tarifa_media['year'], tarifa_media['month'] = tarifa_media["periodo"].str.split('M', 1).str

  Mallorca Menorca Ibiza_Formentera  year month
1    106,2    64,4             86,9  2021    12
3     93,3      66             86,2  2021    11
5     95,1      77               98  2021    10
7    110,7   113,6            153,3  2021    09
9    130,8   178,7            209,9  2021    08

In [8]:
tarifa_media_pmi = tarifa_media[['year', 'month', 'Mallorca']]
tarifa_media_pmi.insert(0, "Isla", "Mallorca")
tarifa_media_pmi = tarifa_media_pmi.rename(columns={'Mallorca':'Tarifa_media_diaria'})

In [9]:
tarifa_media_mah = tarifa_media[['year', 'month', 'Menorca']]
tarifa_media_mah.insert(0, "Isla", "Menorca")
tarifa_media_mah = tarifa_media_mah.rename(columns={'Menorca':'Tarifa_media_diaria'})

In [10]:
tarifa_media_ibz = tarifa_media[['year', 'month', 'Ibiza_Formentera']]
tarifa_media_ibz.insert(0, "Isla", "Ibiza_Formentera")
tarifa_media_ibz = tarifa_media_ibz.rename(columns={'Ibiza_Formentera':'Tarifa_media_diaria'})

In [11]:
tarifa_media_ok = pd.concat([tarifa_media_pmi, tarifa_media_mah, tarifa_media_ibz])

In [13]:
tarifa_media_ok.dtypes

Isla                   object
year                   object
month                  object
Tarifa_media_diaria    object
dtype: object

In [19]:
def cambiar (strnum):
    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [20]:
tarifa_media_ok['Tarifa_media_diaria'] = tarifa_media_ok['Tarifa_media_diaria'].apply(cambiar)
tarifa_media_ok['Tarifa_media_diaria'] = pd.to_numeric(tarifa_media_ok['Tarifa_media_diaria'], errors = 'coerce')

In [22]:
tarifa_media_ok['year'] = tarifa_media_ok['year'].astype(str).astype(int)
tarifa_media_ok['month'] = tarifa_media_ok['month'].astype(str).astype(int)

In [26]:
#tarifa_media_ok.to_csv(r'tarifa_media_diaria.csv', index = False, header=True)