In [1]:
import pandas as pd

In [2]:
alojamiento = pd.read_csv('../Limpieza_Datasets/data/Tipo_alojamiento_isla.csv', sep = ';')

In [3]:
alojamiento.head(15)

,Unnamed: 0,ILLES BALEARS,Mallorca,Menorca,Eivissa-Formentera
0,2021M12,NaN,NaN,NaN,NaN
1,TOTAL (1+2),190.444,156.919,8.116,25.409
2,1. Alojamiento de mercado,82.571,68.440,3.517,10.614
3,Hoteles y similares,51.682,42.459,2.538,6.684
4,Alojamiento de alquiler,27.591,23.338,636,3.618
5,Otro alojamiento de mercado,3.298,2.642,...,...
6,2. Alojamiento de no mercado,107.873,88.479,4.599,14.795
7,Vivienda en propiedad,36.554,30.216,1.574,4.764
8,Otro alojamiento no de mercado,71.318,58.263,3.024,10.031
9,2021M11,NaN,NaN,NaN,NaN
10,TOTAL (1+2),232.592,195.543,9.874,27.174
11,1. Alojamiento de mercado,110.820,93.510,5.248,12.062
12,Hoteles y similares,70.439,60.048,3.675,6.716
13,Alojamiento de alquiler,33.785,27.539,1.312,4.934
14,Otro alojamiento de mercado,6.596,5.924,...,411

In [4]:
alojamiento.drop(['ILLES BALEARS'], axis=1, inplace=True)

In [5]:
alojamiento = alojamiento.rename(columns={'Unnamed: 0':'tipo_alojamiento',
                                                   'Eivissa-Formentera':'Ibiza_Formentera'})
alojamiento.insert(1, "Mes/año", "")
alojamiento.tipo_alojamiento = alojamiento.tipo_alojamiento.str.strip()

In [6]:
count = 0
cambioiloc = 0
listafecha = []
for i,row in alojamiento.iterrows():
    listafecha.append(alojamiento.iloc[cambioiloc]["tipo_alojamiento"])
    count += 1    
    if count == 9:
        cambioiloc = (i+1)
        count=0

In [7]:
alojamiento["Mes/año"] = listafecha

In [8]:
alojamiento.head(10)

                 tipo_alojamiento  Mes/año Mallorca Menorca Ibiza_Formentera
0                         2021M12  2021M12      NaN     NaN              NaN
1                     TOTAL (1+2)  2021M12  156.919   8.116           25.409
2       1. Alojamiento de mercado  2021M12   68.440   3.517           10.614
3             Hoteles y similares  2021M12   42.459   2.538            6.684
4         Alojamiento de alquiler  2021M12   23.338     636            3.618
5     Otro alojamiento de mercado  2021M12    2.642     ...              ...
6    2. Alojamiento de no mercado  2021M12   88.479   4.599           14.795
7           Vivienda en propiedad  2021M12   30.216   1.574            4.764
8  Otro alojamiento no de mercado  2021M12   58.263   3.024           10.031
9                         2021M11  2021M11      NaN     NaN              NaN

In [9]:
for i, row in alojamiento.iterrows():
    if row['tipo_alojamiento'] in listafecha:
        alojamiento.drop(i, inplace=True)

In [10]:
alojamiento = alojamiento[~alojamiento.tipo_alojamiento.str.contains('TOTAL')]

In [11]:
alojamiento.head(15)

                  tipo_alojamiento  Mes/año Mallorca Menorca Ibiza_Formentera
2        1. Alojamiento de mercado  2021M12   68.440   3.517           10.614
3              Hoteles y similares  2021M12   42.459   2.538            6.684
4          Alojamiento de alquiler  2021M12   23.338     636            3.618
5      Otro alojamiento de mercado  2021M12    2.642     ...              ...
6     2. Alojamiento de no mercado  2021M12   88.479   4.599           14.795
7            Vivienda en propiedad  2021M12   30.216   1.574            4.764
8   Otro alojamiento no de mercado  2021M12   58.263   3.024           10.031
11       1. Alojamiento de mercado  2021M11   93.510   5.248           12.062
12             Hoteles y similares  2021M11   60.048   3.675            6.716
13         Alojamiento de alquiler  2021M11   27.539   1.312            4.934
14     Otro alojamiento de mercado  2021M11    5.924     ...              411
15    2. Alojamiento de no mercado  2021M11  102.033   4.626           15.113
16           Vivienda en propiedad  2021M11   36.012   2.188            2.611
17  Otro alojamiento no de mercado  2021M11   66.021   2.438           12.502
20       1. Alojamiento de mercado  2021M10  722.411  56.707          171.255

In [12]:
alojamiento['year'], alojamiento['month'] = alojamiento["Mes/año"].str.split('M', 1).str
alojamiento = alojamiento.drop(['Mes/año'], axis = 1)
alojamiento.head(15)

<ipython-input-12-69644f0b79b1>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  alojamiento['year'], alojamiento['month'] = alojamiento["Mes/año"].str.split('M', 1).str

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
2,1. Alojamiento de mercado,68.440,3.517,10.614,2021,12
3,Hoteles y similares,42.459,2.538,6.684,2021,12
4,Alojamiento de alquiler,23.338,636,3.618,2021,12
5,Otro alojamiento de mercado,2.642,...,...,2021,12
6,2. Alojamiento de no mercado,88.479,4.599,14.795,2021,12
7,Vivienda en propiedad,30.216,1.574,4.764,2021,12
8,Otro alojamiento no de mercado,58.263,3.024,10.031,2021,12
11,1. Alojamiento de mercado,93.510,5.248,12.062,2021,11
12,Hoteles y similares,60.048,3.675,6.716,2021,11
13,Alojamiento de alquiler,27.539,1.312,4.934,2021,11
14,Otro alojamiento de mercado,5.924,...,411,2021,11
15,2. Alojamiento de no mercado,102.033,4.626,15.113,2021,11
16,Vivienda en propiedad,36.012,2.188,2.611,2021,11
17,Otro alojamiento no de mercado,66.021,2.438,12.502,2021,11
20,1. Alojamiento de mercado,722.411,56.707,171.255,2021,10

In [13]:
alojamiento.tipo_alojamiento.unique()

array(['1. Alojamiento de mercado', 'Hoteles y similares',
       'Alojamiento de alquiler', 'Otro alojamiento de mercado',
       '2. Alojamiento de no mercado', 'Vivienda en propiedad',
       'Otro alojamiento no de mercado'], dtype=object)

In [14]:
(alojamiento.loc[(alojamiento.loc[:,'tipo_alojamiento'] == 'Otro alojamiento no de mercado')])

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
8,Otro alojamiento no de mercado,58.263,3.024,10.031,2021,12
17,Otro alojamiento no de mercado,66.021,2.438,12.502,2021,11
26,Otro alojamiento no de mercado,109.447,6.478,28.725,2021,10
35,Otro alojamiento no de mercado,88.384,14.029,52.207,2021,09
44,Otro alojamiento no de mercado,153.529,38.826,65.211,2021,08
...,...,...,...,...,...,...
638,Otro alojamiento no de mercado,65.059,8.447,15.228,2016,02
647,Otro alojamiento no de mercado,68.609,6.214,18.918,2016,01
656,Otro alojamiento no de mercado,54.867,2.721,12.950,2015,12
665,Otro alojamiento no de mercado,51.630,3.496,14.067,2015,11
674,Otro alojamiento no de mercado,59.186,4.476,22.680,2015,10

In [15]:
alojamiento["tipo_alojamiento"].replace({'Otro alojamiento no de mercado': 'Alojamiento de familiares o amigos',}, inplace=True)

In [16]:
alojamiento

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
2,1. Alojamiento de mercado,68.440,3.517,10.614,2021,12
3,Hoteles y similares,42.459,2.538,6.684,2021,12
4,Alojamiento de alquiler,23.338,636,3.618,2021,12
5,Otro alojamiento de mercado,2.642,...,...,2021,12
6,2. Alojamiento de no mercado,88.479,4.599,14.795,2021,12
...,...,...,...,...,...,...
670,Alojamiento de alquiler,101.792,12.820,22.038,2015,10
671,Otro alojamiento de mercado,29.243,...,27.094,2015,10
672,2. Alojamiento de no mercado,89.845,9.379,33.274,2015,10
673,Vivienda en propiedad,30.659,4.904,10.594,2015,10
674,Alojamiento de familiares o amigos,59.186,4.476,22.680,2015,10

In [17]:
#alojamiento = alojamiento.drop(alojamiento[alojamiento.tipo_alojamiento == '1. Alojamiento de mercado'].index)

In [18]:
alojamiento = alojamiento.drop(alojamiento[(alojamiento.tipo_alojamiento == '1. Alojamiento de mercado')].index)
alojamiento = alojamiento.drop(alojamiento[(alojamiento.tipo_alojamiento == '2. Alojamiento de no mercado')].index)

In [19]:
alojamiento

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
3,Hoteles y similares,42.459,2.538,6.684,2021,12
4,Alojamiento de alquiler,23.338,636,3.618,2021,12
5,Otro alojamiento de mercado,2.642,...,...,2021,12
7,Vivienda en propiedad,30.216,1.574,4.764,2021,12
8,Alojamiento de familiares o amigos,58.263,3.024,10.031,2021,12
...,...,...,...,...,...,...
669,Hoteles y similares,645.476,39.416,92.901,2015,10
670,Alojamiento de alquiler,101.792,12.820,22.038,2015,10
671,Otro alojamiento de mercado,29.243,...,27.094,2015,10
673,Vivienda en propiedad,30.659,4.904,10.594,2015,10
674,Alojamiento de familiares o amigos,59.186,4.476,22.680,2015,10

In [20]:
alojamiento_pmi = alojamiento[['tipo_alojamiento','year', 'month', 'Mallorca']]
alojamiento_pmi.insert(1, "Isla", "Mallorca")
alojamiento_pmi = alojamiento_pmi.rename(columns={'Mallorca':'Num_establecimientos'})

In [21]:
alojamiento_mah = alojamiento[['tipo_alojamiento','year', 'month', 'Menorca']]
alojamiento_mah.insert(1, "Isla", "Menorca")
alojamiento_mah = alojamiento_mah.rename(columns={'Menorca':'Num_establecimientos'})

In [22]:
alojamiento_ibz = alojamiento[['tipo_alojamiento','year', 'month', 'Ibiza_Formentera']]
alojamiento_ibz.insert(1, "Isla", "Ibiza_Formentera")
alojamiento_ibz = alojamiento_ibz.rename(columns={'Ibiza_Formentera':'Num_establecimientos'})

In [23]:
alojamiento_ibz.isna().sum()

tipo_alojamiento        0
Isla                    0
year                    0
month                   0
Num_establecimientos    0
dtype: int64

In [24]:
alojamiento_ok = pd.concat([alojamiento_pmi,alojamiento_mah,alojamiento_ibz])

In [25]:
alojamiento_ok

,tipo_alojamiento,Isla,year,month,Num_establecimientos
3,Hoteles y similares,Mallorca,2021,12,42.459
4,Alojamiento de alquiler,Mallorca,2021,12,23.338
5,Otro alojamiento de mercado,Mallorca,2021,12,2.642
7,Vivienda en propiedad,Mallorca,2021,12,30.216
8,Alojamiento de familiares o amigos,Mallorca,2021,12,58.263
...,...,...,...,...,...
669,Hoteles y similares,Ibiza_Formentera,2015,10,92.901
670,Alojamiento de alquiler,Ibiza_Formentera,2015,10,22.038
671,Otro alojamiento de mercado,Ibiza_Formentera,2015,10,27.094
673,Vivienda en propiedad,Ibiza_Formentera,2015,10,10.594
674,Alojamiento de familiares o amigos,Ibiza_Formentera,2015,10,22.680

In [26]:
alojam_2015 = pd.read_csv('../Limpieza_Datasets/data/num_establecim_2015_yalimpio.csv')

In [27]:
ok_df_bueno = pd.concat([alojamiento_ok,alojam_2015])

In [28]:
ok_df_bueno

,tipo_alojamiento,Isla,year,month,Num_establecimientos
3,Hoteles y similares,Mallorca,2021,12,42.459
4,Alojamiento de alquiler,Mallorca,2021,12,23.338
5,Otro alojamiento de mercado,Mallorca,2021,12,2.642
7,Vivienda en propiedad,Mallorca,2021,12,30.216
8,Alojamiento de familiares o amigos,Mallorca,2021,12,58.263
...,...,...,...,...,...
955,Hoteles o similares,Ibiza_Formentera,2010,6,245.821
956,Alojamiento en propiedad,Ibiza_Formentera,2010,6,17.557
957,Alojamiento en alquiler,Ibiza_Formentera,2010,6,34.028
958,Alojamiento de familiares o amigos,Ibiza_Formentera,2010,6,17.187
959,Otro alojamiento de mercado,Ibiza_Formentera,2010,6,7.638

In [29]:
ok_df_bueno.tipo_alojamiento.unique()

array(['Hoteles y similares', 'Alojamiento de alquiler',
       'Otro alojamiento de mercado', 'Vivienda en propiedad',
       'Alojamiento de familiares o amigos', 'Hoteles o similares',
       'Alojamiento en propiedad', 'Alojamiento en alquiler'],
      dtype=object)

In [32]:
ok_df_bueno["tipo_alojamiento"].replace({'Otro alojamiento no de mercado': 'Alojamiento de familiares o amigos',
                                        'Hoteles o similares':'Hoteles y similares',
                                        'Alojamiento en alquiler':'Alojamiento de alquiler',
                                        'Vivienda en propiedad':'Alojamiento en propiedad'}, inplace=True)

In [34]:
ok_df_bueno.tipo_alojamiento.unique()

array(['Hoteles y similares', 'Alojamiento de alquiler',
       'Otro alojamiento de mercado', 'Alojamiento en propiedad',
       'Alojamiento de familiares o amigos'], dtype=object)

In [35]:
ok_df_bueno.dtypes

tipo_alojamiento        object
Isla                    object
year                    object
month                   object
Num_establecimientos    object
dtype: object

In [36]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [37]:
ok_df_bueno['Num_establecimientos'] = ok_df_bueno['Num_establecimientos'].apply(cambiar)
ok_df_bueno['Num_establecimientos'] = pd.to_numeric(ok_df_bueno['Num_establecimientos'], errors = 'coerce')

In [38]:
ok_df_bueno['year'] = ok_df_bueno['year'].astype(str).astype(int)
ok_df_bueno['month'] = ok_df_bueno['month'].astype(str).astype(int)

In [39]:
ok_df_bueno.dtypes

tipo_alojamiento         object
Isla                     object
year                      int64
month                     int64
Num_establecimientos    float64
dtype: object

In [40]:
ok_df_bueno.isna().sum()

tipo_alojamiento          0
Isla                      0
year                      0
month                     0
Num_establecimientos    109
dtype: int64

In [41]:
#ok_df_bueno.to_csv(r'total_general_establecimientos.csv', index = False, header=True)